# Android Gradle
.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
backend/dataset_entrenamiento.csv
backend/modelo_biometrico.joblib

# User-specific
*.user
*.useros
*.userprefs
